<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>messages</param-value>
</context-param>  	
 

  <filter>
  	<filter-name>AuthenticationAdminFilter</filter-name>
  	<filter-class>controller.filter.AuthenticationAdminFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>AuthenticationFilter</filter-name>
  	<display-name>AuthenticationFilter</display-name>
  	<description></description>
  	<filter-class>controller.filter.AuthenticationFilter</filter-class>
  </filter>
  
  
	
	<filter-mapping>
		<filter-name>AuthenticationAdminFilter</filter-name>
		<url-pattern>/driver_confirmation</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/driver_appointment</url-pattern>
	</filter-mapping>
	
  
  <servlet>
  	<servlet-name>Servlet</servlet-name>
  	<display-name>Servlet</display-name>
  	<servlet-class>controller.Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Servlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
</web-app>
